
  <%- include('../../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th><h2>Airline</h2></th>
        <th><h2>Airport</h2></th>
        <th><h2>Flight Number</h2></th>
        <th><h2>Departs</h2></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <%- include('../../partials/footer') %>
